<h1 align='center'><%= @contacts.contact_name() %>'s numbers!</h1>

<form action='/numbers' method='post'>
  <input id='contact_id' name='contact_id' type='hidden' value='<%= @contacts.id() %>'>
  <label for='contact'>Contact's name:</label>
  <input id='contact' name='contact' type='text' required>
  <br>
  <button type='submit' class='btn'>Add contact</button>
</form>

<br><br>


<% if @contacts == [] %>
  <h4>Please put in your contact's various numbers!</h4>
<% else @contacts.new_number().each() do |number| %>
    <ul>
      <li><%= number %></li>
    </ul>
  <% end %>
<% end %>


<h5><a href='/'>Back to all contacts?</h5>
